/* ANIMATE LOADER */

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2e78ef;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}
::-webkit-scrollbar-thumb:active {
  background: #2e78ef;
}
::-webkit-scrollbar-track {
  background: #c2c2c2;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #c2c2c2;
}
::-webkit-scrollbar-track:active {
  background: #666666;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  position: relative;
}

.body-home {
  height: 100vh;
  background: url("../img/homebg.jpg");
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.body-home .container {
  height: inherit;
  padding-top: 1.5rem;
}

.barra {
  background: #00adef;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.dropdown-menu {
  margin: 17px;
  background: #262a34;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menuperfil {
  color: white;
}

.menuperfil:focus {
  background: #23ae6b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.cerrar:hover {
  background-color: rgba(206, 65, 22, 0.877);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.user {
  font-size: 35px;
}

/*BARRA LATERAL*/

.barra-lateral {
  background: #252121;
  color: #fff;
  min-width: 250px;
  min-height: 100vh;
  padding: 0;
}

.barra-lateral a {
  color: #fff;
}

/*ESTILOS MENU*/

.barra-lateral .menu a {
  display: block;
  padding: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.barra-lateral .menu a:hover {
  background-color: #003c5d;
  text-decoration: none;
}

.active {
  background: #003c5d;
}

.barra-lateral .menu {
  border-top: 5px #fff solid;
}

.barra-lateral .menu a i {
  margin-right: 20px;
}

/*MAIN*/

.main {
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 3rem;
  overflow: auto;
}

.main .columna {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main [class*="col"] {
  min-height: 95%;
  overflow-y: auto;
}

#shop-card {
  position: relative;
}
#shop-card .card-body {
  overflow-y: auto;
}
#shop-card .card-footer {
  bottom: 0;
}

#shop-card span {
  color: #383838;
  font-weight: 600;
}

.box-search {
  position: absolute;
  top: 20%;
  right: 25%;
  width: 50%;
  height: 30rem;

  z-index: 100;
}

#client-list {
  transition: all 0.8s ease;
}
#client-list .list-group-item {
  cursor: pointer;
  transition: all ease 0.3s;
}

#client-list .list-group-item:hover {
  background-color: rgba(13, 39, 156, 0.712);
  color: #fff;
}

#cart {
  position: relative;
}

#cart .card-loader {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.card-loader .card-spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #2e78ef #ccc #ccc #ccc;
  transition: all ease 0.3s;
}

.card-spinner.is-loading {
  animation: spinner 1s 0.5s infinite;
}

/*mediaquerys*/

@media screen and (max-width: 1300px) {
  .barra-lateral {
    min-width: auto;
  }
  .barra-lateral .menu a span {
    display: none;
  }
  .barra-lateral .menu a i {
    margin: 0;
  }
  .barra {
    min-width: auto;
  }
  .dropdown-menu {
    margin: 20px -79px 0px;
  }
}

@media screen and (max-width: 575px) {
  .barra-lateral {
    min-height: auto;
  }
  .barra-lateral .menu a {
    display: inline-block;
    border-bottom: none;
  }
  .dropdown-menu {
    margin: 20px -78px 0px;
  }
  .logocppe {
    width: 100%;
  }
  body {
    background: #d3d3d3;
    font-size: 16px;
    overflow: visible;
  }
}

.formulariorecursos {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  padding: 20px;
}

.menu {
  border-top: 5px #fff solid;
}

@media screen and (max-width: 575px) {
  .barra-lateral {
    height: auto;
  }
  .barra-lateral.menu a {
    display: inline-block;
    border-bottom: none;
  }
  .dropdown-menu {
    margin: 20px -78 0px;
  }
  body {
    font-size: 16px;
    overflow: visible;
  }
}
